header{
    margin-bottom: 50px;
}

.flappyBirdBody{
    text-align: center;
    background-image: url("../images/flappyBird/gameBackground.png");
    background-repeat: no-repeat;
    background-size: cover;
}
 .main_title{
     text-align: center;
     color: white;
     font-size: 30px;
     padding: 10px;
     margin: 0;
     text-shadow: #000000 1px 1px, #000000 -1px 1px, #000000 -1px -1px, #000000 1px -1px;
 }

footer{
    margin-top: 150px;
}