*{
    padding: 0;
    margin: 0;
}

.flappy_background{
    background-image: url("../images/flappyBird/terraria_background.jpg");
}

body{
    height: 100vh;
    margin: 0;
    display: flex;
    flex-direction: column;
}



footer{
    margin-top: auto;
}