
:root{
    --dark: #3d3d3d;
    --light-green: #caffd0;
    --troll-body-green: #8bc34a;
    --dark-green: #4a7c59;
    --yellow: #ffca3a;
    --blue: #779be7;
    --transparent: #4a7c5988;
    --darkTransparent: #3d3d3dee;
    --light-greenTransparent: #caffd055;
    --bg: #10111F;
    --barsize: 15px;
}

* {
    margin: 0;
    padding: 0;
}

/*
1 Header/Navbar
 */

header {
    padding: 10px 15px;
    height: 50px;
    background-color: var(--dark);
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
}


.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 100000;
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    padding-top: 60px;
    transition: 0.5s;
}

.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
}

.sidenav a:hover {
    color: #f1f1f1;
}

.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

@media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
}


.nav-menu-overlay {
    background-color: black;
    display: none;
    opacity: 0.1;
    z-index: 999;
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    min-width: 100vw;
}

.hamburger-container {
    width: 50px;
    height: 50px;
    position: relative;
    cursor: pointer;
}


.hamburger-line1, .hamburger-line2, .hamburger-line3 {
    height: 4px;
    width: 50px;
    background-color: var(--troll-body-green);
    position: absolute;
    transform: translateY(-50%);
    border-radius: 5px;
}

.hamburger-line1 {
    top: 25%;
}

.hamburger-line2 {
    top: 50%;
}

.hamburger-line3 {
    top: 75%;
}

button.login {
    width: 50px;
    height: 50px;
    background-color: var(--troll-body-green);
}

.btn_submit {
    background-color: var(--troll-body-green);
}

.logo-icon {
    width: 45px;
    height: 45px;
}

.errorMDP{
    background-color: red;
    color: white;
    margin-bottom: 0;
}

.errorMDPPicture{
    max-height: 30px;
}

/*
======================Fake Login JS page==========================================
 */

.gifContainer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.gifBody{
    padding: 30px;
    background-color: black;
    background-image: url("/assets/images/error/error.png");
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.gifh1{
    color: red;
    font-size: 2.5em;
    text-align: center;
}

/*
======================game page==========================================
 */

.gameBackground{
    background-image: url("../images/game/gameBackground.png");
    background-repeat: no-repeat;
    background-size: cover;
}

.gameBigTittle{
    margin-top: 50px;
    font-size: 2.2em;
    text-align: center;
    width: 100%;
    background: linear-gradient(to right, #a5535500 5%, var(--dark-green), #a5535500 95%);
    padding: 10px;
    color: white;
    text-shadow: 1px 1px 5px var(--dark);
}

.gamePage{
    justify-content: center;
    align-items: stretch;
}

.cartoucheAnchor{
    text-decoration: none;
    display: inline-block;
    color: white;
    margin: 2em;
    max-width: 800px;
}
.cartoucheAnchor:hover{
    color: white;
    text-decoration: none;
    opacity: 0.95;
}

.gameCartouche{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin-top: 1.5em;
    border: solid var(--dark) 2px;
    padding: 10px;
    border-radius: 15px;
    background-color: var(--dark);
    box-shadow: 5px 5px 20px var(--light-green);
}

.gameTittle{
    width: 100%;
    color: var(--troll-body-green);
    text-shadow: 1px 1px 2px var(--light-green);
}

.gameIllustrationPicture{
    border-radius: 15px;
    border: solid var(--dark) 2px;
    object-fit: contain;
    filter: drop-shadow(1px 1px 2px var(--light-green));
    margin-top: 5px;
}

.fakePlayButton{
    width: 50%;
    height: 35px;
    text-align: center;
    background-color: var(--troll-body-green);
    border-radius: 15px;
    font-weight: bold;
    font-size: 1.3em;
}

.gamePresentationText{
    padding: 10px 20px 10px 30px;
    text-align: justify;
    text-align-last: center;
}

@media (orientation: landscape) {
    .cartoucheAnchor{
        width: auto;
    }
    .gameIllustrationPicture{
        max-width: 50%;
    }
    .gamePresentationText{
        max-width: 50%;
    }
    .fakePlayButton{
        margin-left: auto;
    }
}

@media (orientation: portrait) {
    .gameCartouche{
        flex-direction: column;
    }
    .gameIllustrationPicture{
        max-height: 50%;
        max-width: 100%;
    }
    .gamePresentationText{
        max-height: 50%;
    }
}

@media only screen and (min-width: 600px) {
    .gamePage{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
    }
    .cartoucheAnchor{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;
    }
    .gameBigTittle{
        background: linear-gradient(to right, #a5535500 30%, var(--dark-green), #a5535500 70%);
    }

    .mindGamepushfooter{
        height: 100vh;
    }
}

/* ========== Carousel effects ========== */
.go_to_what_to_do:hover{
    opacity: 80%;
}

.go_to_whack_a_mole:hover{
    opacity: 80%;
}

.go_to_about_us:hover{
    opacity: 80%;
}

/* ========== Catch phrase ========== */

.choose_category {
    text-align: center;
    color: white;
    font-size: 30px;
    padding: 10px;
    margin: 0;
    text-shadow: #000000 1px 1px, #000000 -1px 1px, #000000 -1px -1px, #000000 1px -1px;
}
/* ========== Game categories ========== */
.articles{
    display: flex;
    flex-wrap: wrap;
    padding: 20px;
}

.index-background {
    background-color: var(--light-green);
    background-image: url("../images/index/indexBackground.png");
    background-size: cover;
    min-height: 400px;
    padding-top: 25px;
    margin-top: -5px;
}

.categorie_cards{
    border-radius: 15px;
    text-align: center;
    width: 100%;
    padding: 10px;
    margin: 10px;
    box-shadow: 5px 5px 5px black;
    background-image: url("../images/cards/card_background.png");
    background-repeat: no-repeat;
    background-size: cover;
}

.categorie_cards:hover{
    opacity: 50%;
    cursor: pointer;
}

.text_card{
    color: white;
    padding-top: 5px;
}

.black-text-shadow{
    text-shadow: #000000 1px 1px, #000000 -1px 1px, #000000 -1px -1px, #000000 1px -1px;
}

.go_to_category, .go_to_category:link, .go_to_category:hover{
    color: white;
    text-decoration: none;
}

/*
Responsive design
*/

@media only screen and (min-width: 1200px){
    .articles{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }

    .categorie_cards{
        max-width: 30%;
    }
}

@media screen and (min-width : 600px) {

    .articles {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }

    .categorie_cards {
        width: 45%;
    }
}

/*
======================What to Do - Page ==========================================
 */

.boredBackground{
    background-image: url("../images/whatToDo/background.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

.boredPicture{
    border-radius: 20%;
    max-width: 100%;
    min-width: 0;
    max-height: 50%;
    margin: 0 5px 0 5px;
}

.boredCartouche{
    display: flex;
    flex-wrap: wrap;
    margin: 1.5em 15px 1.5em 15px;
    padding: 10px;
    border-radius: 20%;
    background-color: var(--transparent);
}

.boredDescription{
    padding: 30px;
    text-align: justify;
    text-align-last: center;
    font-family: 'Dancing Script', cursive;
    font-size: 32px;
    color: white;
    text-shadow: 0 0 3px var(--dark);
}

.boredTittle{
    margin: 25px;
    font-family: 'Dancing Script', cursive;
    font-size: 50px;
    font-weight: bold;
    width: 100%;
    text-align: center;
    color: white;
    text-shadow: 0 0 3px var(--dark);
}

@media only screen and (min-width: 600px) and (min-height: 400px) {
    .boredPage{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-evenly;
    }
    .boredCartouche{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;
        max-width: 30%;
        margin: 20px;
    }
}
/*     Footer       */

footer{
    background-color: var(--dark);
}

.first_paragraph_footer{
    padding-bottom: 5px;
    text-align: center;
}

.paragraph_footer, .paragraph_footer:hover{
    text-decoration: none;
    margin: 0;
}

.a_footer{
    margin-left: 5px;
    margin-right: 5px;
    color: white;
}

.a_footer:hover{
    text-decoration: none;
    color: var(--light-green);
}

.second_paragraph_footer{
    text-align: center;
    margin-bottom: 0;
    padding-bottom: 5px;
}

.github_logo{
    max-width: 30px;
}

.copyright {
    text-align: center;
    margin-bottom: 0;
    padding-bottom: 5px;
    color: white;
    font-size: 10px;
}

/* -------------------------   About Us    ------------------------ */

.aboutUsBackground{
    background-image: url("/assets/images/aboutUs/matrixBackground.jpg");
}

.aboutUsPage{
    min-height: 70vh;
}

.aboutUs{
    display: flex;
    flex-direction: column;
}

.aboutCartouche{
    display: flex;
    text-align: center;
    background-color: var(--darkTransparent);
    margin: 10px 10px;
    border-radius: 25px;
    padding-bottom: 10px;
}
.aboutCartouche img{
    width: 200px;
    border: 3px solid var(--light-green);
    box-shadow: 0 0 10px var(--light-green);
    border-radius: 50%;
    margin: 10px;
}
.aboutCartouche img:hover{
    opacity: 0.85;
}
.aboutPicture{
    margin: auto;
}
.aboutCartouche figcaption{
    width: 80%;
    text-align: center;
    font-weight: bold;
    text-shadow: 0 0 3px #e7d49c;
    border: 3px solid var(--light-green);
    border-radius: 25px;
    background-color: var(--light-green);
    box-shadow: 0 0 10px var(--light-green);
    margin: -16px auto 0px auto;
}
.aboutTxt{
    padding: 10px;
    color: white;
    text-shadow: 0 0 3px var(--dark);
    background-color: var(--light-greenTransparent);
    border-radius: 10% / 50%;
    font-size: 1.2em;
}
.aboutSubTittle{
    text-align: center;
    font-size: 1.5em;
    font-weight: bold;
    text-shadow: 0 0 3px #e7d49c;
    background: linear-gradient(to right, #a5535500 5%, var(--light-green) 10%, var(--light-green), var(--light-green) 90% , #a5535500 95%);
    padding: 5px;
    margin-top: 5px;
}
.aboutInfo{
    vertical-align: middle;
    padding: 5px;
}

@media only screen and (min-width: 600px) and (min-height: 400px) {
    .aboutUs{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
    }
    .aboutCartouche{
        max-width: 35%;
        margin: 20px;
    }
    .aboutSubTittle{
        margin-bottom: 50px;
    }
    .aboutUsPage{
        margin-bottom: 150px;
    }
}
@media only screen and (max-width: 600px) {
    .aboutCartouche img{
        max-width: 100px;
    }
    .aboutCartouche figcaption{
        width: 100%;
    }
}
