
:root{
    --dark: #3d3d3d;
    --light-green: #caffd0;
    --troll-body-green: #8bc34a;
    --dark-green: #4a7c59;
    --yellow: #ffca3a;
    --blue: #779be7;
}


/*
1 Header/Navbar
 */

header {
    padding: 10px 15px;
    height: 50px;
    background-color: var(--dark);
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
}


.hamburger-container {
    width: 50px;
    height: 50px;
    position: relative;
}


.hamburger-line1, .hamburger-line2, .hamburger-line3 {
    height: 4px;
    width: 50px;
    background-color: var(--troll-body-green);
    position: absolute;
    transform: translateY(-50%);
    border-radius: 5px;
}

.hamburger-line1 {
    top: 25%;
}

.hamburger-line2 {
    top: 50%;
}

.hamburger-line3 {
    top: 75%;
}


button {
    width: 50px;
    height: 50px;
    background-color: var(--troll-body-green);
}

.nav-menu {
    width: 50%;
    min-height: 100vh;
    background-color: var(--light-green);
    position: absolute;
    top: 50px;
    left: -15px;
    z-index: 1000;
    display: flex;
    flex-direction: column;
    align-items: center;
    list-style-type: none;
}

.nav-menu li {
    padding: 10px;
}

.nav-menu-overlay {
    background-color: black;
    opacity: 0.1;
    position: absolute;
    z-index: 999;
    min-height: 100vh;
    min-width: 100vw;
}

.logo-icon {
    width: 45px;
    height: 45px;
}


/*
======================game page==========================================
 */

.gameBackground{
    background-image: url("../images/game/gameBackground.png");
    background-repeat: no-repeat;
    background-size: cover;
}

.gameBigTittle{
    margin-top: 50px;
    font-size: 2.2em;
    text-align: center;
    width: 100%;
    background: linear-gradient(to right, #a5535500 5%, #4a7c59, #a5535500 95%);
    padding: 10px;
    color: white;
    text-shadow: 1px 1px 5px #3d3d3d;
}

.gamePage{
    justify-content: center;
    align-items: stretch;
}

.cartoucheAnchor{
    text-decoration: none;
    display: inline-block;
    color: white;
    margin: 2em;
    max-width: 800px;
}
.cartoucheAnchor:hover{
    color: white;
    text-decoration: none;
    opacity: 0.95;
}

.gameCartouche{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin-top: 1.5em;
    border: solid #3d3d3d 2px;
    padding: 10px;
    border-radius: 15px;
    background-color: #3d3d3d;
    box-shadow: 5px 5px 20px #caffd0;
}

.gameTittle{
    width: 100%;
    color: #8bc34a;
    text-shadow: 1px 1px 2px #caffd0;
}

.gameIllustrationPicture{
    border-radius: 15px;
    border: solid #3d3d3d 2px;
    object-fit: contain;
    filter: drop-shadow(1px 1px 2px #caffd0);
    margin-top: 5px;
}

.fakePlayButton{
    width: 50%;
    height: 35px;
    text-align: center;
    background-color: #8bc34a;
    border-radius: 15px;
    font-weight: bold;
    font-size: 1.3em;
}

.gamePresentationText{
    padding: 10px 20px 10px 30px;
    text-align: justify;
    text-align-last: center;
}

@media (orientation: landscape) {
    .cartoucheAnchor{
        width: auto;
    }
    .gameIllustrationPicture{
        max-width: 50%;
    }
    .gamePresentationText{
        max-width: 50%;
    }
    .fakePlayButton{
        margin-left: auto;
    }
}

@media (orientation: portrait) {
    .gameCartouche{
        flex-direction: column;
    }
    .gameIllustrationPicture{
        max-height: 50%;
        max-width: 100%;
    }
    .gamePresentationText{
        max-height: 50%;
    }
}

@media only screen and (min-width: 600px) {
    .gamePage{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
    }
    .cartoucheAnchor{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;
    }
    .gameBigTittle{
        background: linear-gradient(to right, #a5535500 30%, #4a7c59, #a5535500 70%);
    }
}

/*
======================What to Do - Page ==========================================
 */

.boredBackground{
    background-image: url("../images/whatToDo/background.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

.boredPicture{
    object-fit: contain;
    border-radius: 20%;
}

.boredCartouche{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin-top: 1.5em;
    padding: 10px;
    border-radius: 20%;
    background-color: #caffd055;
}

.boredDescription{
    padding: 30px;
    text-align: justify;
    text-align-last: center;
    font-family: 'Dancing Script', cursive;
    font-size: 22px;
}

.boredTittle{
    margin: 25px;
    font-family: 'Dancing Script', cursive;
    font-size: 30px;
}