:root{
    --gridSize: 100vw;
}

@media screen AND (min-width: 600px){
    :root {
        --gridSize: 800px;
    }
}

.game-container{
    margin: 0 auto;
    text-align: center;
    width: var(--gridSize);

}

.container-whack {
    height: var(--gridSize);
    display: grid;
    background-color: var(--dark-green);

}

.size-easy{
    grid-template-columns: repeat(4, calc(var(--gridSize) / 4 ));
    grid-template-rows: repeat(4, calc(var(--gridSize) / 4 ));
}

.size-normal{
    grid-template-columns: repeat(10, calc(var(--gridSize) / 10 ));
    grid-template-rows: repeat(10, calc(var(--gridSize) / 10 ));
}

.size-hard{
    grid-template-columns: repeat(15, calc(var(--gridSize) / 15 ));
    grid-template-rows: repeat(15, calc(var(--gridSize) / 15 ));
}

.container-whack img {
    max-width: 100%;
    min-width: 0;
    height: auto;
    border-radius: 20%;
}