:root{
    --gridSize: 100vw;
    --nbColumns: 4;
}

@media screen AND (min-width: 600px){
    :root {
        --gridSize: 800px;
    }
}

.game-container{
    margin: 0 auto;
    text-align: center;
    width: var(--gridSize);

}

.container-whack {
    height: var(--gridSize);
    display: grid;
    background-color: var(--dark-green);
    grid-template-columns: repeat( var(--nbColumns), calc(var(--gridSize) / var(--nbColumns) ));
    grid-template-rows: repeat( var(--nbColumns) , calc( var(--gridSize) / var(--nbColumns) ));
}

.container-whack img {
    max-width: 100%;
    min-width: 0;
    height: auto;
    border-radius: 20%;
}