:root{
    --dark: #3d3d3d;
    --light-green: #caffd0;
    --troll-body-green: #8bc34a;
    --dark-green: #4a7c59;
    --yellow: #ffca3a;
    --blue: #779be7;
}

.gameBackground{
    background-image: url("assets/images/game/gameBackground.png");
    background-repeat: no-repeat;
    background-size: cover;
}

.gameBigTittle{
    margin-top: 50px;
    font-size: 2.2em;
    text-align: center;
    width: 100%;
    background: linear-gradient(to right, #a5535500 5%, #4a7c59, #a5535500 95%);
    padding: 10px;
    color: white;
    text-shadow: 1px 1px 5px #3d3d3d;
}

.gamePage{
    justify-content: center;
    align-items: stretch;
}

.cartoucheAnchor{
    display: inline-block;
    color: white;
    margin: 2em;
    max-width: 800px;
}
.cartoucheAnchor:hover{
    color: white;
    text-decoration: none;
    opacity: 0.95;
}

.gameCartouche{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin-top: 1.5em;
    border: solid #3d3d3d 2px;
    padding: 10px;
    border-radius: 15px;
    background-color: #3d3d3d;
    box-shadow: 5px 5px 20px #caffd0;
}

.gameTittle{
    width: 100%;
    color: #8bc34a;
    text-shadow: 1px 1px 2px #caffd0;
}

.gameIllustrationPicture{
    border-radius: 15px;
    border: solid #3d3d3d 2px;
    object-fit: contain;
    filter: drop-shadow(1px 1px 2px #caffd0);
    margin-top: 5px;
}

.fakePlayButton{
    width: 50%;
    height: 35px;
    text-align: center;
    background-color: #8bc34a;
    border-radius: 15px;
    font-weight: bold;
    font-size: 1.3em;
}

.gamePresentationText{
    padding: 10px 20px 10px 30px;
    text-align: justify;
    text-align-last: center;
}

@media (orientation: landscape) {
    .cartoucheAnchor{
        width: auto;
    }
    .gameIllustrationPicture{
        max-width: 50%;
    }
    .gamePresentationText{
        max-width: 50%;
    }
    .fakePlayButton{
        margin-left: auto;
    }
}

@media (orientation: portrait) {
    .gameCartouche{
        flex-direction: column;
    }
    .gameIllustrationPicture{
        max-height: 50%;
        max-width: 100%;
    }
    .gamePresentationText{
        max-height: 50%;
    }
}

@media only screen and (min-width: 600px) {
    .gamePage{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
    }
    .cartoucheAnchor{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;
    }
    .gameBigTittle{
        background: linear-gradient(to right, #a5535500 30%, #4a7c59, #a5535500 70%);
    }
    .gameIcon{
        float: right;
}