:root{
    --dark: #3d3d3d;
    --light-green: #caffd0;
    --troll-body-green: #8bc34a;
    --dark-green: #4a7c59;
    --yellow: #ffca3a;
    --blue: #779be7;
}


.gameIcon{
    max-width: 50px;
    float: right;
}

.gamePage{
    justify-content: center;
    align-items: center;
}

.cartoucheAnchor{
    display: inline-block;
    color: white;
    margin: 2em;
    max-width: 800px;
}
.cartoucheAnchor:hover{
    color: white;
    text-decoration: none;
    opacity: 0.85;
}

.gameCartouche{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin-top: 1.5em;
    border: solid #3d3d3d 2px;
    padding: 10px;
    border-radius: 15px;
    background-color: #3d3d3d;
}

.gameTittle{
    width: 100%;
    color: #8bc34a;
    text-shadow: 1px 1px 2px #caffd0;
}

.gameIllustrationPicture{
    border-radius: 15px;
    border: solid #3d3d3d 2px;
    object-fit: contain;
    filter: drop-shadow(1px 1px 2px #caffd0);
    margin-top: 5px;
}

.fakePlayButton{
    width: 50%;
    height: 35px;
    text-align: center;
    background-color: #8bc34a;
    border-radius: 15px;
    font-weight: bold;
    font-size: 1.3em;
}

.gamePresentationText{
    padding: 10px;
    text-align: center;
}

@media (orientation: landscape) {
    .cartoucheAnchor{
        width: auto;
    }
    .gameIllustrationPicture{
        max-width: 50%;
    }
    .gamePresentationText{
        max-width: 50%;
    }
    .fakePlayButton{
        margin-left: auto;
    }
}

@media (orientation: portrait) {
    .gameCartouche{
        flex-direction: column;
    }
    .gameIllustrationPicture{
        max-height: 50%;
        max-width: 100%;
    }
    .gamePresentationText{
        max-height: 50%;
    }
}

@media only screen and (min-width: 600px) {
    .gamePage{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
    }
    .cartoucheAnchor{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;
    }
}