* {
    margin: 0;
    padding: 0;
}

.container-whack {
    --gridSize: 500px;
    width: var(--gridSize);
    height: var(--gridSize);

    display: grid;
    grid-template-columns: repeat(4, minmax(15%, 25%));
    grid-template-rows: repeat(4, minmax(15%, 25%));
    background-color: cornflowerblue;
}

.container-whack img {
    max-width: 100%;
    min-width: 0;
    height: auto;
}